body, html { 
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.post {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 600px;
    width: 100%;
    padding: 20px;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }
  .post img{
    height: 450px;
    width: 450px;
    margin-left: 50px

  }
  
  .post h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  
  .post p {
    font-size: 14px;
    color: #8e8e8e;
    margin-bottom: 16px;
  }

  .delete {
    height:20px;
    width: 60px;
    color:black;
    background-color: white;
  }

  .edit{
    height:20px;
    width: 60px;
    color:black;
    background-color: white;
  }
  
  .like-button {
    cursor: pointer;
    font-size: 24px;
    margin-right: 8px;
    margin-top: 10px;
  }
  
  .like-button:hover {
    opacity: 0.7;
  }
  
  .comment-icon {
    cursor: pointer;
    font-size: 24px;
    margin-right: 8px;
    margin-top: 10px;
  }
  
  .comment-icon:hover {
    opacity: 0.7;
  }
  
  .post p {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    color:black;
    margin-right: 15px;
  }
  
  .comment-section {
    margin-top: 16px;
  }
  
  .comment-section form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  
  .comment-section input[type="text"] {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    margin-right: 8px;
    font-size: 14px;
  }
  
  .comment-section button {
    background-color: #0095f6;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 600;
  }
  
  .comment-section button:hover {
    background-color: #007bb5;
  }
  
  .comment-section div {
    border-top: 1px solid #dbdbdb;
    padding: 8px 0;
  }
  
  .comment-section p {
    font-size: 14px;
    margin: 0;
  }
  
  .comment-section p strong {
    font-weight: 600;
  }
  
  .like-com{
    display: flex;
    padding: 20px;
  }